.title {
  font-size: 18px;
  font-weight: 700;
}

td {
  min-width: 100px;
  padding: 5px;
  border: 1px dashed;
  text-align: center;
}

td img {
  width: 100px;
  height: 100px;
}

.align-left {
  text-align: left;
}

.wrap {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

input[type='search'] {
  margin: 25px 0;
}

.converter {
  margin: 50px 0 80px;
}
